---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import bgImage from "../assets/bmc-button.svg";
import "../styles/globals.css";
---

<Layout>
  <main class="centered">
    <section class="center-items">
      <h1 class="text-white">Welcome to Juhamikael.info</h1>
      <ul role="list" class="link-card-grid">
        <Card
          href="https://dev.juhamikael.info"
          title="code.juhamikael.info"
          body="You can find all my coding projects and coding related stuff here"
        />
        <Card
          href="https://juhamikael.info"
          title="music.juhamikael.info"
          body="You can find all related to my music here"
        />
      </ul>

      <a
        href="https://www.buymeacoffee.com/juhamikael"
        target="_blank"
        class="cursor-pointer scale-card"
      >
        <img src={bgImage} alt="Buy me a coffee" class="h-10 mt-5" />
      </a>
    </section>
  </main>
</Layout>

