---
import "../styles/globals.css";

export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card scale-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="text-gray-500">
      {body}
    </p>
  </a>
</li>
